@import '../../styles/constants.scss';

.menu-wrapper {
  @include standsrt-block;

  .menu-item {
    display: block;
    height: 50px;
    text-decoration: none;
    color: $color-black;
    transition: .2s;
    font-size: 30px;

    &:hover {
      font-size: 35px;
    }
  }
}