@import '../../styles/constants.scss';

.win-screen-wrapper {

  .win-screen-window {
    @include block-wrapper;
  
    .title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 320px;
      height: 200px;
  
      .title {
        font-size: 35px;
        margin-bottom: 10px;
      }
  
      .subtitle {
        font-size: 30px;
      }
    }
  }

  .nav-button {
    margin: 20px auto 0 auto;
  }
}