.card-wrapper {
  width: 200px;
  height: 254px;
  padding: 0 10px;
  // width: 110px;
  // height: 200px;

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    perspective: 1000px;

    .front, .back {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: 1s;
      backface-visibility: hidden;
    }

    .front {
      background: 
        linear-gradient(135deg, #cc883e 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #cc883e 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #cc883e 25%, transparent 25%),
        linear-gradient(45deg, #cc883e 25%, transparent 25%);	
      background-size: 2em 2em;
      background-color: #a5c6b1;
    }

    .back {
      background-color: cadetblue;
      transform: rotateY(180deg);
      background-size: 100% auto;
    }
  }

  .turn {

    .front {
      transform: rotateY(180deg);
    }
  
    .back {
      transform: rotateY(360deg);
    }
  }
}

@media (max-width: 1249px) {
  .card-wrapper {
    width: 166px;
  }
}

@media (max-height: 899px) {
  .card-wrapper {
    padding: 5px 10px;
    height: 230px;
  }
}

