@import '../../styles/constants.scss';

.nav-button {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-darkBrown;
  border: 2px solid $color-black;

  .nuv-button__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 25px;
    color: #000;
  }
}