@import '../../styles/constants.scss'; 

.statistic-wrapper {

  .table-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 46px;
    font-size: 25px;
    color: #000;
    background-color: $color-darkBrown;
    border: 2px solid $color-black;
    margin: 0 auto 10px auto;
  }

  .statistics-table {
    @include standsrt-block;
    display: block;
    height: auto; 
    width: 450px;
    border-top: none;
  }
  
  .nav-button {
    margin: 20px auto 0 auto;
  }
}
