@import '../../styles/constants.scss'; 

.statistic-wrapper {

  .statistics-table {
    @include standsrt-block;
    display: block;
    height: auto; 
    width: 450px;
    border-top: none;
  }
  
  .nav-button {
    margin: 20px auto 0 auto;
  }
}