@import '../../styles/constants.scss';

.settings-wrapper {

  .settings-window {
    @include standsrt-block;
    width: 450px;

    .language {
      width: 90%;
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 25px;
      }

      select {
        font-size: 120%;
        background-color: #d3d3d3;
        border-radius: 5px;
        width: 129px;
      }
    }
  }

  .nav-button {
    margin: 20px auto 0 auto;
  }


}